@using MvcSample.Web.Models
@model User
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    string helloClass = null;
}

    <!-- One -->
        <section id="one" class="main style2 right dark fullscreen">
            <div class="content box style2">
                <header>
                    <h2>What I Do</h2>
                </header>
                <p>I work at <a href="http://microsoft.com">Microsoft</a> on <a href="http://asp.net/vNext">ASP.NET vNext</a>.</p>
            </div>
            <a href="#two" class="button style2 down anchored">Next</a>
        </section>
    
    <!-- Two -->
        <section id="two" class="main style2 left dark fullscreen">
            <div class="content box style2">
                <header>
                    <h2>Who I Am</h2>
                </header>
                <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum. 
                Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis arcu, 
                id varius justo euismod in. Curabitur egestas consectetur magna.</p>
            </div>
            <a href="#work" class="button style2 down anchored">Next</a>
        </section>
        
    <!-- Work -->
        <section id="work" class="main style3 primary">
            <div class="content container">
                <header>
                    <h2>My Work</h2>
                    <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum. 
                    Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis 
                    arcu, id varius justo euismod in. Curabitur egestas consectetur magna vitae.</p>
                </header>
                
                <!-- Lightbox Gallery  -->
                    <div class="container small gallery">
                        <div class="row flush images">
                            <div class="6u"><a href="images/fulls/01.jpg" class="image fit from-left"><img src="images/thumbs/01.jpg" title="The Anonymous Red" alt="" /></a></div>
                            <div class="6u"><a href="images/fulls/02.jpg" class="image fit from-right"><img src="images/thumbs/02.jpg" title="Airchitecture II" alt="" /></a></div>
                        </div>
                        <div class="row flush images">
                            <div class="6u"><a href="images/fulls/03.jpg" class="image fit from-left"><img src="images/thumbs/03.jpg" title="Air Lounge" alt="" /></a></div>
                            <div class="6u"><a href="images/fulls/04.jpg" class="image fit from-right"><img src="images/thumbs/04.jpg" title="Carry on" alt="" /></a></div>
                        </div>
                        <div class="row flush images">
                            <div class="6u"><a href="images/fulls/05.jpg" class="image fit from-left"><img src="images/thumbs/05.jpg" title="The sparkling shell" alt="" /></a></div>
                            <div class="6u"><a href="images/fulls/06.jpg" class="image fit from-right"><img src="images/thumbs/06.jpg" title="Bent IX" alt="" /></a></div>
                        </div>
                    </div>

            </div>
        </section>
        
    <!-- Contact -->
        <section id="contact" class="main style3 secondary">
            <div class="content container">
                <header>
                    <h2>Say Hello.</h2>
                    <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.</p>
                </header>
                <div class="box container small">
                
                <!-- Contact Form -->
                        <form method="post" action="#">
                            <div class="row half">
                                <div class="6u"><input type="text" name="name" placeholder="Name" /></div>
                                <div class="6u"><input type="email" name="email" placeholder="Email" /></div>
                            </div>
                            <div class="row half">
                                <div class="12u"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
                            </div>
                            <div class="row">
                                <div class="12u">
                                    <ul class="actions">
                                        <li><input type="submit" value="Send Message" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>

                </div>
            </div>
        </section>