@using MvcSample.Web.Models
@model User
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    string helloClass = null;
}

<!-- Intro -->
        <section id="intro" class="main style1 dark fullscreen">
            <div class="content container small">
                <header>
                    <h2>Thanks for finding me</h2>
                </header>
                <p>Take a look below for more info on my work and personal life. Proceed at your own risk :)</p>
                <footer>
                    <a href="#one" class="button style2 down">More</a>
                </footer>
            </div>
        </section>


    <!-- One -->
        <section id="one" class="main style2 right dark fullscreen">
            <div class="content box style2">
                <header>
                    <h2>Work</h2>
                </header>
                <p>
                I work at <a href="http://microsoft.com">Microsoft</a> on <a href="http://asp.net/">ASP.NET</a>.
                I'm passionate about creating a great story for ASP.NET developers. We've made some good progress, but the best
                is yet to come. We have big ideas and we are moving on them. My main areas of interest/influence include:
                <ul>
                    <li>Visual Studio project system for ASP.NET vNext</li>
                    <li>Web publishing</li>
                    <li>Build integration for web</li>
                    <li>Azure Web Sites support in Visual Studio</li>
                </ul>
                </p>
            </div>
            <a href="#two" class="button style2 down anchored">Next</a>
        </section>
    
    <!-- Two -->
        <section id="two" class="main style2 left dark fullscreen">
            <div class="content box style2">
                <header>
                    <h2>Open Source</h2>
                </header>
                <p>
                I love working on open-source projects, you can find me on github at <a href="https://github.com/sayedihashimi">SayedIHashimi</a>.
                </p>
                <p>
                Some projects I'm working on now...
                <ul>
                <li><a href="https://github.com/ligershark/webdevchecklist.com">webdevchecklist.com</a> (<em><a href="http://webdevchecklist.com">visit the site</a>)</em></li>
                <li><a href="https://github.com/ligershark/side-waffle">SideWaffle</a> / <a href="https://github.com/ligershark/template-builder">TemplateBuilder</a></li>
                <li><a href="https://github.com/sayedihashimi/slow-cheetah">SlowCheetah</a></li>
                <li><a href="https://github.com/sayedihashimi/psbuild">psbuild</a></li>
                <li><a href="https://github.com/ligershark/Kulture">Kulture</a></li>
                <li><a href="https://github.com/sayedihashimi/riddlerps">riddlerps</li>
                </ul>
                </p>
            </div>
            <a href="#work" class="button style2 down anchored">Next</a>
        </section>
        
    <!-- Work -->
        <section id="work" class="main style3 primary">
            <div class="content container">
                <header>
                    <h2>My photography</h2>
                </header>
                
                <!-- Lightbox Gallery  -->
                    <div class="container small gallery">
                        <div class="row flush images">
                            <div class="6u">
                                <a href="images/goat-1600.jpg" class="image fit from-left">
                                <img src="images/thumbs/goat-440.jpg" title="The enchanter" alt="" /></a></div>
                            <div class="6u">
                                <a href="images/lake-1600.jpg" class="image fit from-right">
                                <img src="images/thumbs/lake-440.jpg" title="Hot bath" alt="" /></a></div>
                        </div>
                        <div class="row flush images">
                            <div class="6u">
                                <a href="images/reflection-1600.jpg" class="image fit from-left">
                                <img src="images/thumbs/reflection-440.jpg" title="" alt="" /></a></div>
                            <div class="6u">
                                <a href="images/coke-1600.jpg" class="image fit from-right">
                                <img src="images/thumbs/coke-440.jpg" title="Seattle great soda" alt="" /></a></div>
                        </div>
                        <div class="row flush images">
                            <div class="6u">
                                <a href="images/berries-1600.jpg" class="image fit from-left">
                                <img src="images/thumbs/berries-440.jpg" title="" alt="" /></a></div>
                            <div class="6u">
                                <a href="images/repurposed-1600.jpg" class="image fit from-right">
                                <img src="images/thumbs/repurposed-440.jpg" title="Repurposed" alt="" /></a></div>
                        </div>
                    </div>

            </div>
        </section>
        
    <!-- Contact -->
        <section id="contact" class="main style3 secondary">
            <div class="content container">
                <header>
                    <h2>Say Hello.</h2>
                    <p>Getting in touch with me is easy, you can reach me oneline in the following ways
                    <ul class="contactInfo">
                    <li><a href="https://twitter.com/sayedihashimi">twitter: @@SayedIHashimi</a></li>
                    <li><a href="http://sedodream.com">blog: sedodream.com</a></li>
                    <li><a href="http://stackoverflow.com/users/105999/sayed-ibrahim-hashimi">stackoverflow: sayed-ibrahim-hashimi</a></li>
                    <li><a href="https://www.linkedin.com/in/sayedibrahimhashimi">linkedin: sayedibrahimhashimi</a></li>
                    </ul>
                    </p>

                    <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.</p>
                </header>
                <div class="box container small">
                
                <!-- Contact Form -->
                        <form method="post" action="#">
                            <div class="row half">
                                <div class="6u"><input type="text" name="name" placeholder="Name" /></div>
                                <div class="6u"><input type="email" name="email" placeholder="Email" /></div>
                            </div>
                            <div class="row half">
                                <div class="12u"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
                            </div>
                            <div class="row">
                                <div class="12u">
                                    <ul class="actions">
                                        <li><input type="submit" value="Send Message" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>

                </div>
            </div>
        </section>